.card {
  width: 240px;
  height: 220px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fbfbfb;
  border-radius: 2px;
}

.card__title {
  font-size: 23px;
  font-weight: 900;
  color: #191815;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__form input {
  width: 100%;
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #999;
  color: #191815;
}

.card__form button {
  border: 0;
  background: #191815;
  color: #fbfbfb;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
}

.chat {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-header {
  flex: 1;
  background-color: #191815;
  color: #fbfbfb;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-status{
  display: flex;
  align-items: center;
  gap: 2px;
}

.online-status{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: lightgreen;
}

.chat-window {
  flex: 10;
  overflow-y: scroll;
}

.message-list {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  word-wrap: break-word;
}

.message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.message-author {
  color: #555;
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}

.message-meta {
  font-size: 10px;
  color: #555;
}

.message-container.sent {
  align-self: flex-end;
  text-align: right;
}

.message-container.sent .message {
  background-color: #d1f7c4;
}

.message-container.received {
  align-self: flex-start;
  text-align: left;
}

.message-container.received .message {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .message-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .message-container {
    max-width: 100%;
  }
}

.chat-input {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #191815;
  color: #fbfbfb;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .chat {
    min-width: 80vw;
    height: 500px;
  }
}

@media (max-width: 300px) {
  .card {
    width: 100%;
  }
}
